.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.App-header {
  grid-column: span 2;
  height: 5em;
}

.App-header > h1 {
  margin-left: 1em;
}

.Display {
  display: grid;
  grid-template-rows: 1fr 5em;
}

.ProofState {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  margin: 2em;
}

.Goal {
  margin-left: 2em;
}

.Buffer {
  max-width: 90%;
  display: flex;
  align-items:center;
  background-color:darkblue;
  color:white;
  padding: 2em 1em;
  margin: 1em;
}

.Goal {
  color:pink;
}

.Success {
  color:greenyellow;
}
